<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title> Compariphone | Resultado </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/criterio.css') }}">

</head>

<body background="">

    <div class="header"> <A name = "top"> </A>
        <div class="container1">
            <div class="menubar">
                <div class="logo">
                    <img src="/static/logo.png" width="400px">
                </div>
                <nav>
                    <ul>
                        <li><a href="/index"> Home </a></li>
                        <li><a href="/recomendacion"> Recomendaci&oacute;n </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div style="text-align: center;" width="90%">
        <p style="color: black; font-family: 'Courier New', Courier, monospace;" ><b>Nuestro modelo de IA clasifica los telefonos con base en los siguientes valores aprendidos:
        </b></p><br/>
        <table halign="center" width="90%" style="margin-left: 30px; color: black; font-family: 'Courier New', Courier, monospace;">
            <tr>
                <td><b>Categoria</b></td>
                <td><b>Columna</b></td>
                <td><b>Valor</b></td>
                <td><b>Min</b></td>
                <td><b>Max</b></td>
                <td><b>Count</b></td>
            </tr>
            <tr>
                <td>Almacenamiento</td>
                <td>Memoria GB</td>
                <td>Baja</td>
                <td>0.00390625</td>
                <td>16.0</td>
                <td>506</td>
            </tr>
            <tr>
                <td>Almacenamiento</td>
                <td>Memoria GB</td>
                <td>Media</td>
                <td>32.0</td>
                <td>64.0</td>
                <td>951</td>
            </tr>
            <tr>
                <td>Almacenamiento</td>
                <td>Memoria GB</td>
                <td>Alta</td>
                <td>128.0</td>
                <td>512.0</td>
                <td>469</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Bateria mAh</td>
                <td>Baja</td>
                <td>130.0</td>
                <td>2730.0</td>
                <td>266</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Bateria mAh</td>
                <td>Media</td>
                <td>2500.0</td>
                <td>4260.0</td>
                <td>1126</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Bateria mAh</td>
                <td>Alta</td>
                <td>4100.0</td>
                <td>12000.0</td>
                <td>544</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Horas Bateria</td>
                <td>Baja</td>
                <td>48.0</td>
                <td>1176.0</td>
                <td>55</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Horas Bateria</td>
                <td>Media</td>
                <td>120.0</td>
                <td>800.0</td>
                <td>87</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Horas Bateria</td>
                <td>Alta</td>
                <td>72.0</td>
                <td>1340.0</td>
                <td>12</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Horas Llamada Bateria</td>
                <td>Baja</td>
                <td>3.0</td>
                <td>31.0</td>
                <td>58</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Horas Llamada Bateria</td>
                <td>Media</td>
                <td>8.0</td>
                <td>46.0</td>
                <td>113</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Horas Llamada Bateria</td>
                <td>Alta</td>
                <td>3.5</td>
                <td>60.0</td>
                <td>23</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Vida Bateria</td>
                <td>Baja</td>
                <td>53.0</td>
                <td>108.0</td>
                <td>11</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Vida Bateria</td>
                <td>Media</td>
                <td>56.0</td>
                <td>121.0</td>
                <td>237</td>
            </tr>
            <tr>
                <td>Bateria</td>
                <td>Vida Bateria</td>
                <td>Alta</td>
                <td>69.0</td>
                <td>186.0</td>
                <td>102</td>
            </tr>
            <tr>
                <td>Camara</td>
                <td>Camara MP</td>
                <td>Baja</td>
                <td>0.3</td>
                <td>5.0</td>
                <td>133</td>
            </tr>
            <tr>
                <td>Camara</td>
                <td>Camara MP</td>
                <td>Media</td>
                <td>8.0</td>
                <td>25.0</td>
                <td>1241</td>
            </tr>
            <tr>
                <td>Camara</td>
                <td>Camara MP</td>
                <td>Alta</td>
                <td>32.0</td>
                <td>108.0</td>
                <td>483</td>
            </tr>
            <tr>
                <td>Camara</td>
                <td>Num Camaras</td>
                <td>Baja</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>151</td>
            </tr>
            <tr>
                <td>Camara</td>
                <td>Num Camaras</td>
                <td>Media</td>
                <td>1.0</td>
                <td>4.0</td>
                <td>1241</td>
            </tr>
            <tr>
                <td>Camara</td>
                <td>Num Camaras</td>
                <td>Alta</td>
                <td>1.0</td>
                <td>5.0</td>
                <td>483</td>
            </tr>
            <tr>
                <td>Camara Video</td>
                <td>Video FPS</td>
                <td>Baja</td>
                <td>8.0</td>
                <td>30.0</td>
                <td>121</td>
            </tr>
            <tr>
                <td>Camara Video</td>
                <td>Video FPS</td>
                <td>Mediana</td>
                <td>15.0</td>
                <td>120.0</td>
                <td>1540</td>
            </tr>
            <tr>
                <td>Camara Video</td>
                <td>Video FPS</td>
                <td>Alta</td>
                <td>60.0</td>
                <td>1920.0</td>
                <td>150</td>
            </tr>
            <tr>
                <td>Camara Video</td>
                <td>Video Pixeles</td>
                <td>Baja</td>
                <td>240.0</td>
                <td>720.0</td>
                <td>135</td>
            </tr>
            <tr>
                <td>Camara Video</td>
                <td>Video Pixeles</td>
                <td>Mediana</td>
                <td>1080.0</td>
                <td>8192.0</td>
                <td>1542</td>
            </tr>
            <tr>
                <td>Camara Video</td>
                <td>Video Pixeles</td>
                <td>Alta</td>
                <td>4096.0</td>
                <td>4096.0</td>
                <td>150</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Peso Gramos</td>
                <td>Chico</td>
                <td>21.0</td>
                <td>270.0</td>
                <td>319</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Peso Gramos</td>
                <td>Mediano</td>
                <td>120.0</td>
                <td>469.0</td>
                <td>1436</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Peso Gramos</td>
                <td>Grande</td>
                <td>195.0</td>
                <td>2018.3</td>
                <td>126</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Alto</td>
                <td>Chico</td>
                <td>1.44</td>
                <td>7.59</td>
                <td>328</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Alto</td>
                <td>Mediano</td>
                <td>5.18</td>
                <td>7.4</td>
                <td>1455</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Alto</td>
                <td>Grande</td>
                <td>5.02</td>
                <td>16.48</td>
                <td>126</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Ancho</td>
                <td>Chico</td>
                <td>1.01</td>
                <td>3.18</td>
                <td>328</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Ancho</td>
                <td>Mediano</td>
                <td>2.53</td>
                <td>3.99</td>
                <td>1455</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Ancho</td>
                <td>Grande</td>
                <td>3.07</td>
                <td>10.48</td>
                <td>126</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Grueso</td>
                <td>Chico</td>
                <td>0.27</td>
                <td>1.02</td>
                <td>328</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Grueso</td>
                <td>Mediano</td>
                <td>0.2</td>
                <td>0.72</td>
                <td>1455</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Grueso</td>
                <td>Grande</td>
                <td>0.19</td>
                <td>0.77</td>
                <td>126</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Tamano Pulgadas</td>
                <td>Chico</td>
                <td>1.1</td>
                <td>5.2</td>
                <td>334</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Tamano Pulgadas</td>
                <td>Mediano</td>
                <td>5.0</td>
                <td>7.9</td>
                <td>1476</td>
            </tr>
            <tr>
                <td>Tamanio</td>
                <td>Tamano Pulgadas</td>
                <td>Grande</td>
                <td>6.92</td>
                <td>17.3</td>
                <td>135</td>
            </tr>
            <tr>
                <td>Precio Fabrica</td>
                <td>Precio</td>
                <td>Bajo</td>
                <td>10.53</td>
                <td>82.69</td>
                <td>124</td>
            </tr>
            <tr>
                <td>Precio Fabrica</td>
                <td>Precio</td>
                <td>Medio</td>
                <td>84.21</td>
                <td>315.84</td>
                <td>1117</td>
            </tr>
            <tr>
                <td>Precio Fabrica</td>
                <td>Precio</td>
                <td>Alto</td>
                <td>325.0</td>
                <td>2421.05</td>
                <td>482</td>
            </tr>
            <tr>
                <td>Procesamiento</td>
                <td>CPU GHz</td>
                <td>Baja</td>
                <td>4.0</td>
                <td>7.4</td>
                <td>394</td>
            </tr>
            <tr>
                <td>Procesamiento</td>
                <td>CPU GHz</td>
                <td>Media</td>
                <td>0.256</td>
                <td>23.0</td>
                <td>1436</td>
            </tr>
            <tr>
                <td>Procesamiento</td>
                <td>CPU GHz</td>
                <td>Alta</td>
                <td></td>
                <td></td>
                <td>0</td>
            </tr>
            <tr>
                <td>Procesamiento</td>
                <td>Procesadores</td>
                <td>Baja</td>
                <td>4.0</td>
                <td>8.0</td>
                <td>440</td>
            </tr>
            <tr>
                <td>Procesamiento</td>
                <td>Procesadores</td>
                <td>Media</td>
                <td>1.0</td>
                <td>10.0</td>
                <td>1505</td>
            </tr>
            <tr>
                <td>Procesamiento</td>
                <td>Procesadores</td>
                <td>Alta</td>
                <td></td>
                <td></td>
                <td>0</td>
            </tr>
            <tr>
                <td>RAM</td>
                <td>RAM GB</td>
                <td>Baja</td>
                <td>0.00390625</td>
                <td>1.5</td>
                <td>255</td>
            </tr>
            <tr>
                <td>RAM</td>
                <td>RAM GB</td>
                <td>Media</td>
                <td>2.0</td>
                <td>4.0</td>
                <td>1127</td>
            </tr>
            <tr>
                <td>RAM</td>
                <td>RAM GB</td>
                <td>Alta</td>
                <td>6.0</td>
                <td>12.0</td>
                <td>530</td>
            </tr>
            <tr>
                <td>Reciente</td>
                <td>Anio Anuncio</td>
                <td>Viejo</td>
                <td>1900.0</td>
                <td>2017.0</td>
                <td>345</td>
            </tr>
            <tr>
                <td>Reciente</td>
                <td>Anio Anuncio</td>
                <td>Reciente</td>
                <td>2018.0</td>
                <td>2019.0</td>
                <td>953</td>
            </tr>
            <tr>
                <td>Reciente</td>
                <td>Anio Anuncio</td>
                <td>Nuevo</td>
                <td>2020.0</td>
                <td>2022.0</td>
                <td>647</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion Pixeles Alto</td>
                <td>Baja</td>
                <td>800.0</td>
                <td>2560.0</td>
                <td>357</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion Pixeles Alto</td>
                <td>Media</td>
                <td>160.0</td>
                <td>3120.0</td>
                <td>1307</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion Pixeles Alto</td>
                <td>Alta</td>
                <td>160.0</td>
                <td>3840.0</td>
                <td>281</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion Pixeles Ancho</td>
                <td>Baja</td>
                <td>480.0</td>
                <td>1600.0</td>
                <td>357</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion Pixeles Ancho</td>
                <td>Media</td>
                <td>120.0</td>
                <td>3840.0</td>
                <td>1307</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion Pixeles Ancho</td>
                <td>Alta</td>
                <td>120.0</td>
                <td>2560.0</td>
                <td>281</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion PPI</td>
                <td>Baja</td>
                <td>149.0</td>
                <td>443.0</td>
                <td>357</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion PPI</td>
                <td>Media</td>
                <td>111.0</td>
                <td>807.0</td>
                <td>1307</td>
            </tr>
            <tr>
                <td>Resolucion</td>
                <td>Resolucion PPI</td>
                <td>Alta</td>
                <td>113.0</td>
                <td>643.0</td>
                <td>281</td>
            </tr>
            <tr>
                <td>Selfie</td>
                <td>Num Selfie</td>
                <td>Baja</td>
                <td>1.0</td>
                <td>1.0</td>
                <td>112</td>
            </tr>
            <tr>
                <td>Selfie</td>
                <td>Num Selfie</td>
                <td>Media</td>
                <td>1.0</td>
                <td>2.0</td>
                <td>1081</td>
            </tr>
            <tr>
                <td>Selfie</td>
                <td>Num Selfie</td>
                <td>Alta</td>
                <td>1.0</td>
                <td>3.0</td>
                <td>644</td>
            </tr>
            <tr>
                <td>Selfie</td>
                <td>Selfie MP</td>
                <td>Baja</td>
                <td>0.3</td>
                <td>2.0</td>
                <td>98</td>
            </tr>
            <tr>
                <td>Selfie</td>
                <td>Selfie MP</td>
                <td>Media</td>
                <td>5.0</td>
                <td>13.0</td>
                <td>1081</td>
            </tr>
            <tr>
                <td>Selfie</td>
                <td>Selfie MP</td>
                <td>Alta</td>
                <td>16.0</td>
                <td>48.0</td>
                <td>644</td>
            </tr>
            <tr>
                <td>Selfie Video</td>
                <td>Selfie Video FPS</td>
                <td>Baja</td>
                <td>30.0</td>
                <td>30.0</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Selfie Video</td>
                <td>Selfie Video FPS</td>
                <td>Media</td>
                <td>30.0</td>
                <td>120.0</td>
                <td>1222</td>
            </tr>
            <tr>
                <td>Selfie Video</td>
                <td>Selfie Video FPS</td>
                <td>Alta</td>
                <td>15.0</td>
                <td>60.0</td>
                <td>95</td>
            </tr>
            <tr>
                <td>Selfie Video</td>
                <td>Selfie Video Pixeles</td>
                <td>Baja</td>
                <td>480.0</td>
                <td>480.0</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Selfie Video</td>
                <td>Selfie Video Pixeles</td>
                <td>Media</td>
                <td>720.0</td>
                <td>1080.0</td>
                <td>1250</td>
            </tr>
            <tr>
                <td>Selfie Video</td>
                <td>Selfie Video Pixeles</td>
                <td>Alta</td>
                <td>1440.0</td>
                <td>8192.0</td>
                <td>102</td>
            </tr>
        </table>

        <p/><p/>
        </div>


    
    <div class="pie">
        <div class="contenedor_pie">
            <div class="fila">
                <div class="col1">
                    <h5>Cualquier duda, aclaraci&oacute;n o comentario, <br> no dudes en escribirnos a: <a href="mailto:atencionaclientes@compariphone.com">atencionaclientes@compariphone.com</a><br>
                    <A href="#top"> Click para ver la parte superior </A> </h5>
                </div>
                <div class="col1">
                    <img src="/static/logo_animated.gif" width="200px">
                </div>
                <div class="col1">
                    S&iacute;guenos en redes <br>
                    <img src="/static/facebook.PNG" width="50px">
                    <img src="/static/Instagram.PNG" width="50px"> <br>
                    <img src="/static/Twitter.PNG" width="50px">
                    <img src="/static/Youtube.PNG" width="50px">
                </div>
            </div>
        </div>
    </div>

</body>

</html>