<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title> Compariphone | Home </title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

</head>

<body>
    <div class="header"> <A name = "top"> </A>
        <div class="container1">
            <div class="menubar">
                <div class="logo">
                    <img src="/static/logo.png" width="400px">
                </div>
                <nav>
                    <ul>
                        <!--li><a href="/index"> Home </a></li>
                        <i><a href="catalogo"> Informaci&oacute;n </a></li>
                        <li><a href=""> Contacto </a></li-->
                        <li><a href="/recomendacion"> Recomendaci&oacute;n </a></li>
                    </ul>
                </nav>
            </div>

            <div class="fila">
                <div class="col2">
                    <h1> ¿No sabes qu&eacute; celular comprar?</h1>
                    <h1>¡Nosotros te ayudamos!</h1> <br> 
                    <p> Elige las caracter&iacute;sticas que quieres en tu celular y te recomendaremos una gran opci&oacute;n usando Inteligencia Artificial.
                    </p>
                    <a href="/recomendacion" class="but">
                        ¡Recomiendame ya!

                    </a> 
                </div>

                <div class="col2">
                    <img src="/static/phones.png" width="900px">
                </div>

            </div>
        </div>
    </div>
    
    <div class="parte2">
        <div class="billboardtop">
            <h2 class="title"> ¡Estas son las marcas de celulares m&aacute;s vendidas en M&eacute;xico! <br></h2>
        </div>

        <div class="fotoscds">
            <A href = "https://www.motorola.com.mx/"><img SRC = "/static/motorola.png"></A> 
            <A href = "https://www.samsung.com/mx/"><img SRC = "/static/samsung.png"></A> 
            <A href = "https://www.apple.com/mx/"><img SRC = "/static/apple.png"></A>
            <A href = "https://www.mi.com/mx/"><img SRC = "/static/Xiaomi.png"> </A> 
            <A href = "https://store.google.com/es/category/phones?hl=es&pli=1"><img SRC = "/static/Google.png"> </A>
        </div>

    </div>

    <div class="parte3">
        <h3 class="title"> Ya que te recomendamos cu&aacute;l celular elegir, aqu&iacute; te dejamos algunos sitios donde puedes comprar </h3>
        <div class="fila">
            <div class="col1-4">
                <A href = "https://www.amazon.com.mx/" target="_blank"><img SRC = "/static/amazon.png"></A> 
            </div>
            <div class="col1-4">
                <A href = "https://www.mercadolibre.com.mx/" target="_blank"><img SRC = "/static/ML.png"></A>
            </div>
            <div class="col1-4">
                <A href = "https://www.linio.com.mx/" target="_blank"><img SRC = "/static/linio.png"></A>
            </div>
            <div class="col1-4">
                <A href = "https://www.doto.com.mx/" target="_blank"><img SRC = "/static/doto.png"></A>
            </div>
        </div>
    </div>

    <div class="pie">
        <div class="contenedor_pie">
            <div class="fila">
                <div class="col1">
                    <h5>Cualquier duda, aclaraci&oacute;n o comentario, <br> no dudes en escribirnos a: <a href="mailto:atencionaclientes@compariphone.com">atencionaclientes@compariphone.com</a><br>
                    <A href="#top"> Click para ver la parte superior </A> </h5>
                </div>
                <div class="col1">
                    <img src="/static/logo_animated.gif" width="200px">
                </div>
                <div class="col1">
                    S&iacute;guenos en redes <br>
                    <img src="/static/facebook.PNG" width="50px">
                    <img src="/static/Instagram.PNG" width="50px"> <br>
                    <img src="/static/Twitter.PNG" width="50px">
                    <img src="/static/Youtube.PNG" width="50px">
                </div>
            </div>
        </div>
    </div>




</body>

</html>