<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title> Compariphone | Resultado </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/product.css') }}">

</head>

<body background="">

    <div class="header"> <A name = "top"> </A>
        <div class="container1">
            <div class="menubar">
                <div class="logo">
                    <img src="/static/logo.png" width="400px">
                </div>
                <nav>
                    <ul>
                        <li><a href="/index"> Home </a></li>
                        <li><a href="/recomendacion"> Recomendaci&oacute;n </a></li>
                        <li><a href="/criterio"> Criterio </a></li>
                    </ul>
                </nav>
            </div>

            <div class="fila">
                <h2> Te tenemos {{length}} recomendaciones<p/></h2>
            </div>

            {% for i in range(0, length) %}
                <div class="body2">
                    <div class="container">
                        <div class="form">
                            <div class="fila">
                                <div class="col-2">
                                    <img src= {{ resultados_list[i][2] }}>
                                </div>
                                <div class="col-2">
                                    <h1>{{ resultados_list[i][0] }}</h1>
                                    <h2> Marca: {{ resultados_list[i][3] }} <br>
                                     Colores: {{ resultados_list[i][1] }}<br>
                                     Bater&iacute;a: {{ resultados_list[i][6] }}<br>
                                     Resolución: {{ resultados_list[i][7] }}<br>
                                     A&nacute;o: {{ resultados_list[i][13] }}<br>
                                    Sistema operativo: {{ resultados_list[i][14] }}<br>
                                    C&aacute;mara: {{ resultados_list[i][16] }}<br>
                                    N&uacute;mero de c&aacute;maras: {{ resultados_list[i][17] }}<br>
                                    C&aacute;mara frontal (Selfie): {{ resultados_list[i][18] }}<br>
                                    N&uacute;mero de c&aacute;maras frontales (Selfie): {{ resultados_list[i][19] }}<br>
                                    Pixeles en video: {{ resultados_list[i][20] }}<br>
                                    Pixeles en video selfie: {{ resultados_list[i][21] }}<br>
                                    Memoria: {{ resultados_list[i][12] }}<br>
                                    Memoria RAM: {{ resultados_list[i][11] }}<br>
                                    Dimensiones: {{ resultados_list[i][15] }}<br>
                                    Lector de Huella: {{ resultados_list[i][9] }}<br>
                                    Reconocimiento facial: {{ resultados_list[i][10] }}<br>
                                    Bluetooth: {{ resultados_list[i][5] }}<br>
                                    Incluye aud&iacute;fonos: {{ resultados_list[i][5] }}<br>
                                    </h2> <br>
                                     <h2> Precio estimado: {{ resultados_list[i][22] }}</h2> <br><br>
                                </div>
                            </div>
                            <br><br>
                            <a href="/index" class="but">
                                ¡Regresa para ver la tiendas en las que puedes comprar este celular!
        
                            </a> 
                        </div>
                    </div>
                </div>
            {% endfor %}

            
        </div>.

    </div>
    
    <div class="pie">
        <div class="contenedor_pie">
            <div class="fila">
                <div class="col1">
                    <h5>Cualquier duda, aclaraci&oacute;n o comentario, <br> no dudes en escribirnos a: <a href="mailto:atencionaclientes@compariphone.com">atencionaclientes@compariphone.com</a><br>
                    <A href="#top"> Click para ver la parte superior </A> </h5>
                </div>
                <div class="col1">
                    <img src="/static/logo_animated.gif" width="200px">
                </div>
                <div class="col1">
                    S&iacute;guenos en redes <br>
                    <img src="/static/facebook.PNG" width="50px">
                    <img src="/static/Instagram.PNG" width="50px"> <br>
                    <img src="/static/Twitter.PNG" width="50px">
                    <img src="/static/Youtube.PNG" width="50px">
                </div>
            </div>
        </div>
    </div>

</body>

</html>