<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title> Compariphone | Recomendación </title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/recomendacion.css') }}">
    <link rel="icon" 
      type="image/png" 
      href="/static/logo_robot.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script/recomendacion.js') }}"></script>

</head>

<body>
    <div class="header"> <A name = "top"> </A>
        <div class="container1">
            <div class="menubar">
                <div class="logo">
                    <img src="/static/logo.png" width="400px">
                </div>
                <nav>
                    <ul>
                        <li><a href="index"> Home </a></li>
                        <!--li><a href="catalogo.html"> Informaci&oacute;n </a></li>
                        <li><a href=""> Contacto </a></li>
                        <li><a href="recomendacion"> Recomendaci&oacute;n </a></li-->
                    </ul>
                </nav>
            </div>

            <div class="body2">
                <div class="container">
                    <div class="form">
                        <h1> Hola. D&eacute;janos saber un poco sobre lo que esperas en tu nuevo dispositivo.<br><br>
                            Contesta las siguientes preguntas y te ayudaremos a elegir uno.
                        </h1>
                        <form id="myForm" method="POST" action="/product">
                        <div class="inputBox">
                            Rango de precio esperado: 
                            <select name="precio" id="Precio Fabrica"><option value="">Por favor elige una categor&iacute;a</option><option value="Bajo">Bajo</option> <option value="Medio">Medio</option><option value="Alto">Alto</option></select>
                        </div>
                        <div class="inputBox">
                            Almacenamiento de fotos, v&iacute;deos, apps, etc&eacute;tera:
                            <select name="almacenamiento" id="Almacenamiento"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Bajo</option> <option value="Media">Medio</option><option value="Alta">Alto</option></select>
                        </div>
                        <div class="inputBox">
                            Duraci&oacute;n de la bater&iacute;a entre cada carga:
                            <select name="bateria" id="Bateria"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Media">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Memoria adicional para almacenar m&aacute;s informaci&oacute;n:
                            <select name="memoriaAdicional" id="Tiene Memoria Adicional"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Calidad de la c&aacute;mara para tomar fotos:
                            <select name="camara" id="Camara"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Media">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Calidad de la c&aacute;mara para tomar v&iacute;deos:
                            <select name="camaraVideo" id="Camara Video"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Mediana">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Calidad de la c&aacute;mara delantera para tomar selfies:
                            <select name="selfie" id="Selfie"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Media">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Calidad de la c&aacute;mara delantera para tomar v&iacute;deos selfie:
                            <select name="selfieVideo" id="Selfie Video"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Media">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Velocidad de procesamiento del dispositivo:
                            <select name="procesamiento" id="Procesamiento"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Media">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Velocidad de la memoria principal (RAM):
                            <select name="ram" id="RAM"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Media">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Resoluci&oacute;n de la pantalla:
                            <select name="resolucion" id="Resolucion"><option value="">Por favor elige una categor&iacute;a</option><option value="Baja">Baja</option> <option value="Media">Media</option><option value="Alta">Alta</option></select>
                        </div>
                        <div class="inputBox">
                            Tama&nacute;o del dispositivo:
                            <select name="tamanio" id="Tamanio"><option value="">Por favor elige una categor&iacute;a</option><option value="Chico">Chico</option> <option value="Mediano">Mediano</option><option value="Grande">Grande</option></select>
                        </div>
                        <div class="inputBox">
                            Tener lector de huella:
                            <select name="huella" id="Tiene Lector Huella"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Tener reconocimiento facial:
                            <select name="rostro" id="Reconocimiento Rostro"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Respecto al celular, que el modelo sea:
                            <select name="reciente" id="Reciente"><option value="">Por favor elige una categor&iacute;a</option><option value="Viejo">Viejo</option> <option value="Reciente">Reciente</option><option value="Nuevo">Nuevo</option></select>
                        </div>
                        <div class="inputBox">
                            Incluye aud&iacute;fonos:
                            <select name="audifonos" id="Tiene Audifonos"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Tiene Bluetooth:
                            <select name="bluetooth" id="Tiene Bluetooth"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Tiene radio:
                            <select name="radio" id="Tiene Radio"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Tiene localizaci&oacute;n:
                            <select name="localizacion" id="Tiene Localizacion"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Tiene NFC:
                            <select name="nfc" id="Tiene NFC"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            Tiene SIM:
                            <select name="sim" id="Tiene SIM"><option value="">Por favor elige</option><option value="Si">S&iacute;</option> <option value="No">No</option></select>
                        </div>
                        <div class="inputBox">
                            <nav><ul>
                                <li>
                            <input type="submit" id="bot" name="bot" value="Buscar"/>
                                 </li>
                                </ul>
                            </nav>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>