*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Monospace";
    color: #ffffff;
}

.body2{
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    font-family: "Monospace";
}

.menubar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline;
    list-style-type: none; 
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav a{
    display: inline-block;
    background: #373ea0;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    /*overflow: hidden; */
    transition: 0.5s;
    letter-spacing: 2px;
    padding: 4px 15px;
    margin: 10px 0;
    border-radius: 30px;
}

nav a:hover{
    background: #000000;
    color: #ffffff;
    box-shadow: 0 0 5px #373ea0,
                0 0 25px #373ea0,
                0 0 50px #373ea0,
                0 0 150px #373ea0;
}

a{
    text-decoration: none;
}

p{
    color: #ffffff;
}

.container1{
    max-width: 1200px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.fila{
    display: flex;
    align-items: center;
    flex: wrap;
    justify-content: space-around;
}

.col2{
    font: Verdana;
    color: #000000;
    flex-basis: 50%;
    min-width: 100px
}

.col2 p{
    font: Verdana;
    color: #000000;
    font: Verdana;
    color: #000000;
}

.col2 img{
    max-width: 100%;
    padding: 10px 0;
}

.col2 h1{
    font: Tahoma;
    color: #000000;
    font-size: 30px;
    line-height: 60px;
    margin: 25px 0;
}

.but{
    display: inline-block;
    border: 1;
    background: #373ea0;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    /*overflow: hidden; */
    transition: 0.5s;
    letter-spacing: 2px;
    padding: 8px 30px;
    margin: 30px 0;
}

.but:hover{
    background: #000000;
    color: #ffffff;
    box-shadow: 0 0 5px #373ea0,
                0 0 25px #373ea0,
                0 0 50px #373ea0,
                0 0 150px #373ea0;
}

.header{
    color: #000000;
}

.container{
    font-family: "Monospace";
    position: relative;
    width: 700px;
    min-height: 2400px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,1);
}

.container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
}

.container::after{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #373ea0, #060e01);
    pointer-events: none;
    
}

@keyframes animate{
    0%{
        filter: blur(60px) hue-rotate(0deg);      
    }
    100%{
        filter: blur(60px) hue-rotate(360deg);      
    }
}

.form{
    font-family: "Monospace";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

.form h1{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 25px;
}

.form .inputBox{
    font-family: "Monospace";
    width: 100%;
    margin-top: 30px;
}

.form .inputBox input{
    font-family: "Monospace";
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 0;
    font-family: "Monospace";
}

select{
    font-family: "Monospace";
    width: 650px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    outline: none;
    font-size: 18px;
    font-family: "Monospace";
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    background-image: url("/static/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 600px 0;
}

select::-ms-expand{
    font-family: "Monospace";
    display: none;

}

select:hover{
    font-family: "Monospace";
    color: #ffffff;
    background: #050801;

}


::placeholder{
    color: #eeeeee;
}

.form .inputBox input[type="button"]{
    display: inline-block;
    color: #373ea0;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    /*overflow: hidden; */
    transition: 0.5s;
    letter-spacing: 2px;
    padding: 8px 30px;
    margin: 30px 0;
}

.form .inputBox input[type="button"]:hover{
    background: #373ea0;
    color: #050801;
    box-shadow: 0 0 5px #373ea0,
                0 0 25px #373ea0,
                0 0 50px #373ea0,
                0 0 150px #373ea0;
}

.form p{
    color: #eee;
}

.form p a{
    color: #ffff;
}
